extends ../layout 

block main
    a(href="javascript:void(0)" class="font-semibold text-lg my-5" onclick="goBack()") 
        i( class=" fa-solid fa-angle-left") 
            span Back

    p(class="font-bold text-3xl my-5") Manage Courses


    div(class="flex justify-between")
        div(class="search")
            i(class="search-icon fa-solid fa-magnifying-glass")
            input(class="search-input" type="search" placeholder="Search" onkeyup="searchTable('course-table')")

        div(class="flex gap-10 justify-end")    
            //- a(href="" ) 
            //-     button( class="m-left")
            //-         i( class="") 
            //-             span Generate  Tutor Acess-Code
            a(href="courses/add-course" ) 
                button( class="m-left")
                    i( class="fa fa-user-plus") 
                        span Add Course
          
    div(class="my-5")
        table 
            thead 
                tr
                    th Title 
                    th Course Code
                    th Author
                    th Duration 
                    th Contents 
                    th Date
                    th
                    th
            tbody(course-table) 
                if courses
                    each course in courses
                        -
                            const datetime = new Date(course.updatedAt)

                            const date = new Intl.DateTimeFormat('en-GB', { day: 'numeric', month:'short', year: 'numeric' } ).format(datetime)
                            const time = new Intl.DateTimeFormat('en-GB', { hour: '2-digit', minute:'2-digit', hour12:false } ).format(datetime)

                        tr
                            td #{course.title}
                            td #{course.courseCode}
                            td #{course.user.fullname}
                            td #{course.duration}
                            td #{course.content.length}
                            td
                                p() #{date}
                                P(class="text-gray-500") #{time}
                            td(class="text-center") 
                                p(class=`w-fit rounded-3xl px-2 ${course.status === 'isPublished' ? 'bg-green-200 text-green-500' : course.status === 'withdrawn' ? 'bg-orange-200 text-orange-500' : course.status === 'blocked' ? 'bg-red-200 text-red-500' : 'bg-gray-500 text-white' }`) #{course.status === 'isPublished' ? 'Published' : course.status === 'withdrawn' ? 'Withdrawn' : course.status === 'blocked' ? 'Blocked' :'Unpublished'}
                            td
                                .dropdown
                                    button: i(class="fa fa-ellipsis-vertical")
                                    .content
                                        a(href="#") View
                                        a(href=`/course/update/${course.id}/isPublished`) Publish
                                        a(href=`/course/update/${course.id}/withdrawn`) Withdraw
                                        a(href=`/course/update/${course.id}/blocked`) Block
                                        a(href="#") Edit
                                        a(href="#") Delete
                                

 
    script.
     function change() {
        console.log("change")
     }
        //- document.addEventListener('DOMContentLoaded', function() {
        //- document.querySelectorAll('[id^="toggle-"]').forEach(function(toggle) {
        //- toggle.addEventListener('change', function() {
        //-     const userId = this.id.split('-')[1];
        //-     const newStatus = this.checked;

        //-     fetch(`/admin/settings/users/${userId}/update-status`, {
        //-     method: 'POST',
        //-     headers: {
        //-         'Content-Type': 'application/json',
        //-     },
        //-     body: JSON.stringify({ newStatus }),
        //-     })
        //-     .then(response => response.json())
        //-     .then(data => {
        //-     console.log('Status updated successfully');
        //-     })
        //-     .catch(error => {
        //-     console.error('Error updating status:', error);
        //-     });
        //- });
        //- });
        //- });