extends ../layout 

block main 
    p(class="font-bold text-3xl my-5") Dashboard

        
    div(class="grid lg:grid-flow-col gap-5")
        +card
            div(class="flex items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                        i(class='fa fa-book')
                    div()
                        P(class="font-bold text-2xl") #{stats.numCourses}
                        P(class="font-bold text-md") Courses
                div(class="basis-2/6 ")
                        img( src="/image/Reading glasses-cuate.png" alt="girl")

            
        +card
            div(class="flex items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-medium rounded-lg text-3xl px-5 py-4")
                        i(class='fa-solid fa-graduation-cap')
                    div()
                        P(class="font-bold text-2xl") #{stats.numStudents}
                        P(class="font-bold text-md") Students
                div(class="basis-2/6 ")
                        img( src="/image/college students-rafiki.png" alt="girl")
        
        +card
            div(class="flex  items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-primary rounded-lg text-3xl px-5 py-4")
                        i(class='fa-solid fa-person-chalkboard')
                    div()
                        P(class="font-bold text-2xl") #{stats.numTutors}
                        p(class="font-bold text-md") Tutors 
                div(class="basis-2/6 ")
                        img( src="/image/Seminar-rafiki.png" alt="girl")
                    
  
    div(class="pt-14 ")
        +carousel
            each tutor, i in tutors
                div(class="slide")
                    +profile-card(tutor)
                        block profile
                            img( src='/image/schoolgirl.jpg' alt="" srcset="")
                    
                        block body
                            p(class="font-bold") #{parse.fullname}
                            p #{parse.email}
                            p #{parse.phoneNumber}

    div()
        p(class="font-bold text-lg mt-5 mb-3") Students

        table(class="mt-0")
            thead 
                tr
                    th Name
                    th email
                    th Status
                    th date
            tbody 
                each  student in students
                    tr
                        td #{student.fullname}
                        td #{student.email}
                        td(class="text-center") 
                            if student.status == true 
                                p(class="bg-light rounded") Enabled 
                            else 
                                p(class="bg-gray-500 text-white rounded") Disabled 

                        td #{student.createdAt}
    