extends ../layout 

block main 
    p(class="font-bold text-3xl my-5") Dashboard

        
    div(class="grid lg:grid-flow-col gap-5")
        +card
            div(class="flex h-full w-full justify-around items-center")
                div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                    i(class='fa fa-book')
                div()
                    P(class="font-bold text-2xl") #{stats.numCourses}
                    P(class="font-bold text-md") Courses
        
        +card
            div(class="flex h-full w-full justify-around items-center")
                div(class=" bg-medium rounded-lg text-3xl px-5 py-4")
                    i(class='fa-solid fa-graduation-cap')
                div()
                    P(class="font-bold text-2xl") #{stats.numStudents}
                    P(class="font-bold text-md") Students
        
        +card
            div(class="flex h-full w-full justify-around items-center")
                div(class=" bg-primary rounded-lg text-3xl px-5 py-4")
                    i(class='fa-solid fa-person-chalkboard')
                div()
                    P(class="font-bold text-2xl") #{stats.numTutors}
                    p(class="font-bold text-md") Tutors 
                    
  
    div(class="lg:flex justify-evenly pt-14 ")
        each tutor, i in tutors
            +profile-card(tutor)
                block profile
                    img( src='/image/schoolgirl.jpg' alt="" srcset="")
            
                block body
                    p(class="font-bold") #{parse.fullname}
                    p #{parse.email}
                    p #{parse.phoneNumber}

    div()
        p(class="font-bold text-lg mt-5 mb-3") Students

        table(class="mt-0")
            thead 
                tr
                    th Name
                    th email
                    th Status
                    th date
            tbody 
                each  student in students
                    tr
                        td #{student.fullname}
                        td #{student.email}
                        td(class="text-center") 
                            if student.status == true 
                                p(class="bg-light rounded") Enabled 
                            else 
                                p(class="bg-gray-500 text-white rounded") Disabled 

                        td #{student.createdAt}
    