extends ../layout 

block main 
    -
        const testimonials = [
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
        ]

    p(class="font-bold text-3xl my-5") Dashboard

        
    div(class="grid lg:grid-flow-col gap-5")
        +card
            div(class="flex h-full w-full justify-around items-center")
                div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                    i(class='fa fa-book')
                div()
                    P(class="font-bold text-2xl") #{stats.numCourses}
                    P(class="font-bold text-md") Courses
        
        +card
            div(class="flex h-full w-full justify-around items-center")
                div(class=" bg-medium rounded-lg text-3xl px-5 py-4")
                    i(class='fa-solid fa-graduation-cap')
                div()
                    P(class="font-bold text-2xl") #{stats.numStudents}
                    P(class="font-bold text-md") Students
        
        +card
            div(class="flex h-full w-full justify-around items-center")
                div(class=" bg-primary rounded-lg text-3xl px-5 py-4")
                    i(class='fa-solid fa-person-chalkboard')
                div()
                    P(class="font-bold text-2xl") #{stats.numTutors}
                    p(class="font-bold text-md") Tutors 
                    
  
    div(class="lg:flex justify-evenly pt-14 ")
        each test, i in testimonials
            +profile-card(test)
                block profile
                    img( src=`${parse.image}` alt="" srcset="")
                block body
                    p(class="font-bold") #{parse.client}
                    p #{parse.occupation}
                    p #{parse.testimony}

    div()
        table 
            thead 
                tr
                    th Name
                    th email
                    th date
            tbody 
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003

    div()    
        h1(class="font-bold text-lg text-violet-700") #{user.fullname}, welcome to your Admin Dashboard