extends ../layout 

block main 
    -
        //- const stats = [
        //-     {
        //-         icon: 'fa fa-envelope',
        //-         title: 'Courses',
        //-         value: 100,
        //-     },
        //-     {
        //-         icon: 'fa fa-envelope',
        //-         title: 'Students',
        //-         value: 200,
        //-     }, 
        //-     {
        //-         icon: 'fa fa-envelope',
        //-         title: 'Tutors',
        //-         value: 45,
        //-     },    
        //- ]

        const testimonials = [
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
        ]

    p(class="font-bold text-3xl my-5") Dashboard

        
    div(class="grid lg:grid-flow-col gap-5")
        //- each stat, i in stats 
        //-     +card
        //-         i(class=`${stat.icon}`)
        //-         P() #{stat.value}
        //-         P() #{stat.title}
        +card
            i(class='fa fa-book')
            P() #{stats.numCourses}
            P() Courses
        
        +card
            i(class='fa-solid fa-graduation-cap')
            P() #{stats.numStudents}
            P() Students
        
        +card
            i(class='fa-solid fa-person-chalkboard')
            P() #{stats.numTutors}
            p(class='') Tutor 
            
  
    div(class="lg:flex justify-evenly pt-14 ")
        each test, i in testimonials
            +profile-card(test)
                block profile
                    img( src=`${parse.image}` alt="" srcset="")
                block body
                    p(class="font-bold") #{parse.client}
                    p #{parse.occupation}
                    p #{parse.testimony}

    div()
        table 
            thead 
                tr
                    th Name
                    th email
                    th date
            tbody 
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003
                tr
                    td Aishat
                    td AT@mail.com
                    td 22-3-3003

    div()    
        h1(class="font-bold text-lg text-violet-700") #{user.fullname}, welcome to your Admin Dashboard