extends root_layout 

block root
    -   
        const statistics = [
            {
                'number': '320 k',
                'text': 'lorem ipsum, dolor sit'
            },
            {
                'number': '100 %',
                'text': 'lorem ipsum, sit'
            },
            {
                'number': '20 k',
                'text': 'lorem ipsum'
            },
            {
                'number': '20 k',
                'text': 'lorem ipsum'
            }
        ]


        const courses = [
            {
                'image': '/image/schoolgirl.jpg',
                'school': 'LASU',
                'title': 'Lorem ipsum',
                'description': 'lorem ipsum, dolor sit',
                'enrolled': 200
            },
            {
                'image': '/image/schoolgirl.jpg',
                'school': 'LASU',
                'title': 'Lorem ipsum',
                'description': 'lorem ipsum, dolor sit',
                'enrolled': 200
            },
            {
                'image': '/image/schoolgirl.jpg',
                'school': 'LASU',
                'title': 'Lorem ipsum',
                'description': 'lorem ipsum, dolor sit',
                'enrolled': 200
            },
            {
                'image': '/image/schoolgirl.jpg',
                'school': 'LASU',
                'title': 'Lorem ipsum',
                'description': 'lorem ipsum, dolor sit',
                'enrolled': 200
            },
            {
                'image': '/image/schoolgirl.jpg',
                'school': 'LASU',
                'title': 'Lorem ipsum',
                'description': 'lorem ipsum, dolor sit',
                'enrolled': 200
            },
            {
                'image': '/image/schoolgirl.jpg',
                'school': 'LASU',
                'title': 'Lorem ipsum',
                'description': 'lorem ipsum, dolor sit',
                'enrolled': 200
            },
        ]

        const category = [
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },
            {
                title: 'Lorem ipsum',
                description: 'lorem ipsum, dolor sit',
            },           
        ]
    
        const testimonials = [
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },
            {
                client: 'Aishat Tomilola',
                occupation: 'Senior developer',
                testimony: 'lorem ipsum, dolor sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, doloremque nostrum voluptatum cumque mollitia laudantium nesciunt?',
                image: '/image/schoolgirl.jpg',
            },          
        ]

    div(class="nav lg:px-14")
        input(type="checkbox" id="nav-check")
        div(class="nav-header")
            div(class="nav-title") 
                i(class="fa fa-chalkboard !important text-light") 
                   span(class="text-light font-black") LMS
        div(class="nav-btn")
            label(for="nav-check")
                span 
                span 
                span 
        div(class="nav-links")
            a(href="/auth/login") Login 
            a(href="/auth/signup") SignUp 
    div(class=" px-5 lg:px-16 pt-3 flex flex-col")
        div(class="flex flex-col lg:flex-row justify-between items-center")
            div(class="lg:basis-5/12")
                p(class="text-5xl font-semibold mb-16") Boost your grades with us 
               
                div(class="my-5")
                    a(href="#course")
                        +card(class="w-fit")
                            p Explore Courses
            
            div(class="lg:basis-5/12 my-3")
                div(class="px-5")
                    img( src="/image/Student stress-amico.png" alt="girl")
            div(class="flex justify-center items-center lg:basis-2/12 my-5 lg:m-0")
                div(class="flex flex-row lg:flex-col px-3")
                    each stat in statistics 
                        +landing-stats(stat)
            
        div(class="flex justify-center my-5")      
            p Learn from over 100+ tutors
        
        div(class="flex justify-center")    
            +card
                div(class="flex justify-around w-full lg:flex-row p-5")
                    each stat in statistics 
                        +landing-stats(stat)

        div( id="course" class="flex flex-col")
            div(class="flex justify-center")
                div(class="flex justify-between w-11/12 lg:w-8/12 my-14" )
                    p(class="text-xl font-semibold") Featured Courses
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            div(class="flex justify-center")
                div(class="grid lg:grid-cols-3 gap-4")
                    each course in courses
                        +course-card(course)
            div(class="flex justify-center my-20")
                a(href="#course")
                    +card
                        p Explore Courses
            
        div(id="course-category")
            div(class="flex justify-center my-10")
                p(class="text-xl font-semibold ") More Courses from Catagories

            div(class=" py-14 my-5")
                +carousel()
                    each cat, i in category
                        +profile-card(cat)
                            block profile 
                                img(src="/image/schoolgirl.jpg" alt="")
                            block body
                                p(class="text-2xl text-bold") testing
                                p(class="text-bold") #{parse.title}
                                p #{parse.description}
                        //- +card 
                        //-     p(class="text-xl font-bold") #{courseCat.title}
                        //-     p(class="") #{courseCat.description}

    
        div( id="testomonials" class="flex flex-col")
            div(class="flex justify-center")
                div(class="flex justify-between w-11/12 lg:w-8/12 my-14" )
                    p(class="text-xl font-semibold") what our clients say
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            div(class="flex justify-evenly pt-14 ")
                each test, i in testimonials
                    +profile-card(test)
                        block profile
                            img( src=`${parse.image}` alt="" srcset="")
                        block body
                            p(class="font-bold") #{parse.client}
                            p #{parse.occupation}
                            p #{parse.testimony}
                
            div(class="flex justify-center my-20")
                a(href="#course")
                    +card
                        p View all Tesmonials

        
    div(id="footer" class="bg-dark  ")
        div(class="flex flex-col lg:flex-row lg:justify-between  text-medium !important p-5 lg:pt-10 lg:px-16 lg:pb-20")
            div()
                i(class="fa fa-chalkboard  text-light py-5 flex justify-self-center") 
                    span(class="text-light font-black") LMS

                p(class="text-bold text-medium flex justify-self-center") Follow us on social 
                div(class=" flex justify-evenly")
                    a( class="" href="#")
                        i(class="fa-brands fa-x-twitter text-medium")
                    a( class="" href="#")
                        i(class="fa-brands fa-instagram text-medium")
                    a( class="" href="#")
                        i(class="fa-brands fa-facebook text-medium")

            div(class="")
                p(class="font-extrabold py-5 text-medium flex justify-self-center") links

                div(class="flex lg:flex-col justify-evenly")
                    a(href="#" class="text-medium") Home
                    a(href="#" class="text-medium") Help center
                    a(href="#" class="text-medium") service
            
            div(class="")
                p(class="font-extrabold py-5 text-medium") Resource

                div(class="flex lg:flex-col justify-evenly")
                    a(href="#" class="text-medium") about
                    a(href="#" class="text-medium") carrier
                    a(href="#" class="text-medium") legal notice
            div(class="")
                p(class="font-extrabold py-5 text-medium") Contacts

                div(class="flex lg:flex-col justify-evenly") 
                    a(href="#" class="text-medium") Epe, Lagos.
                    a(href="#" class="text-medium") support
                    a(href="#" class="text-medium") +234 800 000 0000

        div(class="bg-primary flex justify-center")
            a(href="#")      
                p © Aishat Tomilola 2023
    script.
        document.addEventListener('DOMContentLoaded', function () {
            //- handleCarousel();
        });

            

            