mixin landing-stats(stats)
    div()  
        h2 #{stats.number}
        p #{stats.text}

mixin carousel
    .carousel-wrap
        i(id="left" class="carousel-nav fa-solid fa-angle-left")
        .carousel
            block
        i(id="right" class="carousel-nav fa-solid fa-angle-right")

mixin card
    .card.active
        block

mixin course-card(data)
    .card
        div(class="flex flex-col justify-evenly")
            img(class="h-56 rounded-lg" src=`${data.image}` alt="", srcset="")
            div(class="flex justify-between")
                p(class="font-bold") #{data.school}
                p rating
            p(class="font-bold") #{data.title}
            p #{data.description}
            div(class="flex justify-between items-center")
                button(class="inverse") Join 
                p(class="font-bold") #{data.enrolled}
                    span(class="font-normal") enroll

mixin profile-card(parsedData)
    
    - const parse = parsedData

    .card.profile
        .avatar
            block profile
        .body
            block body

mixin course(course) 
    h2(class="text-bold") #{course.title}
    p #{course.description}

mixin dash-card(data)
    .card(class="m-5 p-5")
        i(class=`${data.icon}`)
        P() #{data.value}
        P() #{data.title}
