mixin landing-stats(stats)
    div()  
        h2 #{stats.number}
        p #{stats.text}

mixin carousel
    div(class="flex justify-center items-center")
        i(id="left" class="slider-nav fa-solid fa-angle-left")
        .slider 
            block
        i(id="right" class="slider-nav fa-solid fa-angle-right")

mixin card
    .card.active
        block

mixin course-card(data)
    .card.course-card
        div(class="bg-medium rounded-xl ")
            img(class="h-56 w-100 rounded-lg" src="/image/Reading glasses-cuate.png" alt="", srcset="")
   
        div(class="flex items-center my-5")
            div()
                p(class="font-medium") #{data.courseCode}
                p(class="font-bold") #{data.title}
             
        div(class="flex justify-end")
            button(class="inverse") Join 
            

mixin profile-card(parsedData)
    
    - const parse = parsedData

    .card.profile
        .avatar
            block profile
        .body
            block body

mixin course(course) 
    h2(class="text-bold") #{course.title}
    p #{course.description}

mixin dash-card(data)
    .card(class="m-5 p-5")
        i(class=`${data.icon}`)
        P() #{data.value}
        P() #{data.title}
