extends ../layout 

block main 
    p(class="font-bold text-3xl my-5") Dashboard

        
    div(class="grid lg:grid-flow-col gap-5")
        +card
            div(class="flex items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                        i(class='fa fa-book')
                    div()
                        P(class="font-bold text-2xl") #{stats.totalCourses}
                        P(class="font-bold text-md") Courses
                div(class="basis-2/6 ")
                        img( src="/image/Reading glasses-cuate.png" alt="girl")

            
        +card
            div(class="flex items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-medium rounded-lg text-3xl px-5 py-4")
                        i(class='fa-solid fa-graduation-cap')
                    div()
                        P(class="font-bold text-2xl") 0
                        P(class="font-bold text-md") Enrolled Students
                div(class="basis-2/6 ")
                        img( src="/image/college students-rafiki.png" alt="girl")
        
        +card
            div(class="flex  items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-primary rounded-lg text-3xl px-5 py-4")
                        i(class="fa-solid fa-video")
                    div()
                        P(class="font-bold text-2xl") #{stats.totalVideos}
                        p(class="font-bold text-md") Videos 
                div(class="basis-2/6 ")
                        img( src="/image/Video files-amico.png" alt="girl")
        +card
            div(class="flex  items-center")
                div(class="basis-4/6 flex gap-5")
                    div(class=" bg-light rounded-lg text-3xl px-5 py-4")
                        i(class='fa-solid fa-folder-open')
                    div()
                        P(class="font-bold text-2xl") #{stats.totalDocuments}
                        p(class="font-bold text-md") Documents 
                div(class="basis-2/6 ")
                        img( src="/image/Online document-rafiki.png" alt="girl")
                    
  


    div()
        p(class="font-bold text-lg mt-5 mb-3") Courses

        table(class="mt-0")
            thead
                tr
                    th Course Code
                    th Name
                    th Enrollment
                    th Status
                    th Date
            tbody
                if recentCourses
                    each  course in recentCourses
                        -
                            const datetime = new Date(course.updatedAt)

                            const date = new Intl.DateTimeFormat('en-GB', { day: 'numeric', month:'short', year: 'numeric' } ).format(datetime)
                            const time = new Intl.DateTimeFormat('en-GB', { hour: '2-digit', minute:'2-digit', hour12:false } ).format(datetime)

                        tr
                            td #{course.courseCode}
                            td #{course.title } 
                            td #{course.students.length}
                            td(class="text-center") 
                                p(class=`w-fit rounded-3xl px-2 ${course.status === 'isPublished' ? 'bg-green-200 text-green-500' : course.status === 'withdrawn' ? 'bg-orange-200 text-orange-500' : course.status === 'blocked' ? 'bg-red-200 text-red-500' : 'bg-gray-500 text-white' }`) #{course.status === 'isPublished' ? 'Published' : course.status === 'withdrawn' ? 'Withdrawn' : course.status === 'blocked' ? 'Blocked' :'Unpublished'}

                            td
                                p() #{date}
                                P(class="text-gray-500") #{time}
        