extends ../layout 

block main

    a(href="javascript:void(0)" class="font-semibold text-lg my-5" onclick="goBack()") 
        i( class=" fa-solid fa-angle-left") 
            span Back

    p(class="font-bold text-3xl my-5") Course

    div(class="bg-medium rounded-lg flex p-5 items-center ")
        div(class="basis-4/6")
            p(class="font-semibold")  #{course.courseCode}
            p(class="font-bold text-2xl")  #{course.title}
            p(class="font-medium") #{course.description}
        div(class="basis-2/6 flex justify-end")
            img( class="h-40" src="/image/Research paper-rafiki.png" alt="girl")
    p(class="font-semibold mt-5 mb-1") Contents

    div(class="flex justify-between")
        div(class="search")
            i(class="search-icon fa-solid fa-magnifying-glass")
            input(class="search-input" type="search" placeholder="Search" onkeyup="")

        div(class="flex gap-10 justify-end")    
            //- a(href="" ) 
            //-     button( class="m-left")
            //-         i( class="") 
            //-             span Generate  Tutor Acess-Code
            a(href=`${course.id}/upload` ) 
                button( class="m-left" )
                    i( class="fa fa-file-circle-plus") 
                        span upload content

    div()
        each content in course.content
            div(class="accordion-item")
                button( id="accordion-btn" class="accordion-btn") #{content.title}
                    div(class="icons")
                        i(class="fa fa-caret-down")
                        i(class="fa fa-caret-up")
                div(class="accordion-body")
                    
                    if content.type == 'Video'                    
                        video(width="640" height="360" controls )
                            source(src=`/document/${content.type}/${content.url}` ) 
                    else                        
                        embed(width="800" height="600" src=`/document/${content.type}/${content.url}` type="" ) 
    
    
    
    script.
        document.addEventListener('DOMContentLoaded', function () {
            handleAccordion();
        });